@import url(//fonts.googleapis.com/css?family=Jost:300;400;600);

* {
  box-sizing: border-box;
}

body {
    font-family: "Jost", sans-serif;
    color: black;
    font-weight: 400;
    background-color: #faf5eb;
}

header {
  padding: 30px;
  font-size: 35px;
  font-weight: 600;
  list-style-type: none;
  color: black;
}

section {
  display: -webkit-flex;
  display: flex;
}

nav {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-align: center;
  padding: 20px;
  font-size: 20px;
  line-height: 1.8;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

a:link {
  text-decoration: none;
  color: black;
}

a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
  color: blue;
}

a:active {
  text-decoration: none;
  color: blue;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  padding: 10px;
  font-size: 16px;
}

footer {
  padding: 10px;
  text-align: center;
  color: black;
  font-weight: 300;
  font-size: 16px;
}

@media (max-width: 600px) {
  section {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
}
