<!DOCTYPE html>
<html>
<head>
<link href='https://fonts.googleapis.com/css?family=Jost' rel='stylesheet'>
<style>
body {
    font-family: 'Jost', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 0;
    background: pink;
    text-align: center;
}

</style>
</head>
</html>
